.nav {
    background: #030300;
    .logo {
        width: 126px;
        height: auto;
    }

    .nav-menu {
        a {
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            transition: .2s ease-in-out;
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}